#button-container, h2, h4 {
    text-align: center;
  }
  button {
    margin: 2px;
    color: white;
    width: 90px;
    height: 35px;
    font-size: 85%;
    border: 1px solid white;
    background-color: black;
    transition: background-color 1s, color 2.5s;
  }
  button:hover {
    color:red;
    background-color: white;
  }
  button:active {
    color:white;
    background-color: red;
  }